.app {
    margin: auto;
    width: 450px;
}
.header {
    font-size: 22px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
}

.form{
    display: flex;
}
.form input{
    flex: 1;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    padding-left: 15px;
}
.form button {
    background-color: #634BF5;
    color: white;
    padding: 15px 30px;
    border: none;
    margin-left: 15px;
    border-radius: 3px;
}

.todos{}

.todo{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    margin-top: 10px;
}

.favorite{
    padding: 0 15px;
}
.favorite button{
    font-size: 18px;
    color: black;
    padding: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.todo-text{
    flex: 1;
}
.selected {
    background-color: #FFF6D6;
}
.actions{
    padding-right: 15px;
}
.actions button {
    padding: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    outline: none;
}